* {
    box-sizing: border-box;
    
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url('../images/classy background.PNG');
    background-size: 300px;
    color: rgb(122, 21, 122);
    font-family: 'Mystery Quest', cursive;
    
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portraits {
    width: 200px;
    height: 200px;
    margin: 50px;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 0px;
    font-size: 85px;
    text-shadow: 4px 4px 4px rgb(20, 180, 47);
    
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
}


footer {
    display: flex;
    justify-content: center;
}

#button-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    
}

.btn {
    cursor: pointer;
    background: #6f0a91;
    background-image: -webkit-linear-gradient(top, #6f0a91, #9b40c2);
    background-image: -moz-linear-gradient(top, #6f0a91, #9b40c2);
    background-image: -ms-linear-gradient(top, #6f0a91, #9b40c2);
    background-image: -o-linear-gradient(top, #6f0a91, #9b40c2);
    background-image: linear-gradient(to bottom, #6f0a91, #9b40c2);
    -webkit-border-radius: 25;
    -moz-border-radius: 25;
    border-radius: 25px;
    font-family: Georgia;
    color: gold;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #841291;
    background-image: -webkit-linear-gradient(top, #841291, #a52bb8);
    background-image: -moz-linear-gradient(top, #841291, #a52bb8);
    background-image: -ms-linear-gradient(top, #841291, #a52bb8);
    background-image: -o-linear-gradient(top, #841291, #a52bb8);
    background-image: linear-gradient(to bottom, #841291, #a52bb8); 
    text-decoration: none;
  }

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


p {
    background-color: black;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    color: gold;
    border-radius: 20px;
    
}

div, p {
    width: 100%;
}

.us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
}
