* {
    box-sizing: border-box;
    
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url('../images/classy background.PNG');
    background-size: 300px;
    color: rgb(122, 21, 122);
    font-family: 'Mystery Quest', cursive;
    
}

h1 {
    display: flex;
    justify-content: center;
    margin: 0px;
    font-size: 85px;
    text-shadow: 4px 4px 4px rgb(20, 180, 47);
    
}

h3 {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 40px;
    margin: 5px;
    background-color: black;
    border-radius: 25px;
}

footer {
    display: flex;
    justify-content: center;
}


label {
    margin: 20px;
}


.btn {
    cursor: pointer;
    background: #6f0a91;
    background-image: -webkit-linear-gradient(top, #6f0a91, #9b40c2);
    background-image: -moz-linear-gradient(top, #6f0a91, #9b40c2);
    background-image: -ms-linear-gradient(top, #6f0a91, #9b40c2);
    background-image: -o-linear-gradient(top, #6f0a91, #9b40c2);
    background-image: linear-gradient(to bottom, #6f0a91, #9b40c2);
    -webkit-border-radius: 25;
    -moz-border-radius: 25;
    border-radius: 25px;
    font-family: Georgia;
    color: gold;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 10px;
  }
  
  .btn:hover {
    background: #841291;
    background-image: -webkit-linear-gradient(top, #841291, #a52bb8);
    background-image: -moz-linear-gradient(top, #841291, #a52bb8);
    background-image: -ms-linear-gradient(top, #841291, #a52bb8);
    background-image: -o-linear-gradient(top, #841291, #a52bb8);
    background-image: linear-gradient(to bottom, #841291, #a52bb8); 
    text-decoration: none;
  }

  #display-background {
    display: flex;
    background-color: black;
    border-radius: 25px;
    color: gold;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#name-display {
    margin: 10px;
}

#birthday-display {
    margin: 10px;
}

#results-container {
    display: flex;
    justify-content: center;
}

#button-container {
    display: flex;
    justify-content: center;
}

.card-size {
    height: 500px;
}

#results-paragraph {
    background-color: black;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: gold;
    
}