* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url('../images/classy background.PNG');
    background-size: 300px;
    color: rgb(122, 21, 122);
    font-family: 'Mystery Quest', cursive;
}

#user-info-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bolder;
}

#form-container {
    background-color: black;
    border-radius: 25px;
}

input {
    background-color: blueviolet;
    font-family: 'Mystery Quest', cursive;
}

#meta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    margin: 10px;
}

label {
    margin: 20px;
}

#button-container {
    display: flex;
    flex-direction: column;
    margin: 10px; 
}

.btn {
    cursor: pointer;
    background: #6f0a91;
    background-image: -webkit-linear-gradient(top, #6f0a91, #9b40c2);
    background-image: -moz-linear-gradient(top, #6f0a91, #9b40c2);
    background-image: -ms-linear-gradient(top, #6f0a91, #9b40c2);
    background-image: -o-linear-gradient(top, #6f0a91, #9b40c2);
    background-image: linear-gradient(to bottom, #6f0a91, #9b40c2);
    -webkit-border-radius: 25;
    -moz-border-radius: 25;
    border-radius: 25px;
    font-family: Georgia;
    color: gold;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #841291;
    background-image: -webkit-linear-gradient(top, #841291, #a52bb8);
    background-image: -moz-linear-gradient(top, #841291, #a52bb8);
    background-image: -ms-linear-gradient(top, #841291, #a52bb8);
    background-image: -o-linear-gradient(top, #841291, #a52bb8);
    background-image: linear-gradient(to bottom, #841291, #a52bb8); 
    text-decoration: none;
  } 

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
}
  
.container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
  
.neon {
  color: rgb(122, 21, 122);
  font-size: 8vw;
  line-height: 8vw;
  text-shadow: 0 0 3vw rgb(20, 180, 47);
}
  
.neon {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
  }
  
@keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 1vw gold, 0 0 3vw gold, 0 0 10vw gold, 0 0 10vw gold, 0 0 .4vw rgb(20, 180, 47), .5vw .5vw .1vw rgb(20, 180, 47);
      color: rgb(153, 34, 153);
    }
    50% {
      text-shadow: 0 0 .5vw goldenrod, 0 0 1.5vw goldenrod, 0 0 5vw goldenrod, 0 0 5vw goldenrod, 0 0 .2vw goldenrod, .5vw .5vw .1vw rgb(20, 180, 47);
      color:rgb(122, 21, 122);
    }
  }
